<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


        <!-- 适配Android 11的文件访问 -->
        <queries>
            <intent>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="image/*" />
            </intent>
            <intent>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
            </intent>
        </queries>

    <application
        android:name="yq.bxgame.com.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="yq.bxgame.com.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Webview_app">

        </activity>

                <activity
                    android:name="yq.bxgame.com.X5WebActivity"
                    android:exported="true"
                    android:label="@string/app_name"
                    android:theme="@style/Theme.Webview_app"
                    android:configChanges="orientation|screenSize|keyboardHidden"
                    android:hardwareAccelerated="true"
                    >

                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
